<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <Format>Cobertura</Format>
          <CodeCoverage>
            <EnableStaticManagedInstrumentation>True</EnableStaticManagedInstrumentation>
            <EnableDynamicManagedInstrumentation>True</EnableDynamicManagedInstrumentation>
            <Attributes>
              <Exclude>
                <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.DebuggerHiddenAttribute$</Attribute>
                <Attribute>^System\.Diagnostics\.DebuggerNonUserCodeAttribute$</Attribute>
                <Attribute>^System\.Runtime\.CompilerServices\.CompilerGeneratedAttribute$</Attribute>
              </Exclude>
            </Attributes>
            <Functions>
              <Exclude>
                <Function>^Bogus.*</Function>
                <Function>^DryIoc.*</Function>
                <Function>^FakeItEasy.*</Function>
                <Function>^FluentAssertions.*</Function>
                <Function>^JetBrains\..*</Function>
                <Function>^Microsoft\..*</Function>
                <Function>^Moq.*</Function>
                <Function>^NSubstitute.*</Function>
                <Function>^Nuke.*</Function>
                <Function>^Serilog.*</Function>
                <Function>^System\..*</Function>
                <Function>^TUnit.*</Function>
                <Function>^Verify.*</Function>
                <Function>^XUnit.*</Function>
              </Exclude>
            </Functions>
            <ModulePaths>
              <Include>
                <ModulePath>.*\.build\.dll</ModulePath>
                <ModulePath>.*Analyzers\.Tests\.dll</ModulePath>
                <ModulePath>.*Analyzers\.Tests\.roslyn4\.6\.dll</ModulePath>
                <ModulePath>.*AspNetCore\.FluentValidation\.OpenApi\.Tests\.dll</ModulePath>
                <ModulePath>.*AspNetCore\.Tests\.dll</ModulePath>
                <ModulePath>.*Extensions\.Tests\.dll</ModulePath>
                <ModulePath>.*Metadata\.Tests\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Analyzers\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Analyzers\.roslyn4\.6\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.AspNetCore\.Blazor\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.AspNetCore\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.AspNetCore\.FluentValidation\.OpenApi\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.AspNetCore\.NewtonsoftJson\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.AspNetCore\.Spatial\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.AspNetCore\.Testing\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.EntityFramework\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Foundation\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Foundation\.NewtonsoftJson\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Grpc\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Hosting\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.HotChocolate\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Mapping\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Mapping\.NewtonsoftJson\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Metadata\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Primitives\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Serilog\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Spatial\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Spatial\.NewtonsoftJson\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.StrawberryShake\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.StrawberryShake\.Spatial\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Telemetry\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.Testing\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.LaunchPad\.WebAssembly\.Hosting\.dll</ModulePath>
                <ModulePath>.*Sample\.BlazorServer\.dll</ModulePath>
                <ModulePath>.*Sample\.BlazorServer\.Tests\.dll</ModulePath>
                <ModulePath>.*Sample\.BlazorWasm\.dll</ModulePath>
                <ModulePath>.*Sample\.BlazorWasm\.Tests\.dll</ModulePath>
                <ModulePath>.*Sample\.Classic\.Restful\.dll</ModulePath>
                <ModulePath>.*Sample\.Classic\.Restful\.Tests\.dll</ModulePath>
                <ModulePath>.*Sample\.Command\.dll</ModulePath>
                <ModulePath>.*Sample\.Command\.Tests\.dll</ModulePath>
                <ModulePath>.*Sample\.Core\.dll</ModulePath>
                <ModulePath>.*Sample\.Core\.Tests\.dll</ModulePath>
                <ModulePath>.*Sample\.Graphql\.dll</ModulePath>
                <ModulePath>.*Sample\.Graphql\.Tests\.dll</ModulePath>
                <ModulePath>.*Sample\.Grpc\.dll</ModulePath>
                <ModulePath>.*Sample\.Grpc\.Tests\.dll</ModulePath>
                <ModulePath>.*Sample\.Minimal\.dll</ModulePath>
                <ModulePath>.*Sample\.Minimal\.Tests\.dll</ModulePath>
                <ModulePath>.*Sample\.Pages\.dll</ModulePath>
                <ModulePath>.*Sample\.Pages\.Tests\.dll</ModulePath>
                <ModulePath>.*Sample\.Restful\.Client\.dll</ModulePath>
                <ModulePath>.*Sample\.Restful\.dll</ModulePath>
                <ModulePath>.*Sample\.Restful\.Tests\.dll</ModulePath>
                <ModulePath>.*Sample\.Worker\.dll</ModulePath>
                <ModulePath>.*Sample\.Worker\.Tests\.dll</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*Alba\.dll</ModulePath>
                <ModulePath>.*Bogus\.dll</ModulePath>
                <ModulePath>.*FairyBread\.dll</ModulePath>
                <ModulePath>.*FakeItEasy\.Analyzer\.CSharp\.dll</ModulePath>
                <ModulePath>.*FakeItEasy\.dll</ModulePath>
                <ModulePath>.*FluentAssertions\.Analyzers\.dll</ModulePath>
                <ModulePath>.*FluentAssertions\.dll</ModulePath>
                <ModulePath>.*FluentValidation\.AspNetCore\.dll</ModulePath>
                <ModulePath>.*FluentValidation\.DependencyInjectionExtensions\.dll</ModulePath>
                <ModulePath>.*FluentValidation\.dll</ModulePath>
                <ModulePath>.*GitVersion\.Tool\.dll</ModulePath>
                <ModulePath>.*Grpc\.AspNetCore\.dll</ModulePath>
                <ModulePath>.*HotChocolate\.AspNetCore\.dll</ModulePath>
                <ModulePath>.*HotChocolate\.Data\.dll</ModulePath>
                <ModulePath>.*HotChocolate\.Data\.Spatial\.dll</ModulePath>
                <ModulePath>.*HotChocolate\.Diagnostics\.dll</ModulePath>
                <ModulePath>.*HotChocolate\.dll</ModulePath>
                <ModulePath>.*HotChocolate\.Execution\.Abstractions\.dll</ModulePath>
                <ModulePath>.*HotChocolate\.Types\.Analyzers\.dll</ModulePath>
                <ModulePath>.*HotChocolate\.Types\.CursorPagination\.dll</ModulePath>
                <ModulePath>.*HotChocolate\.Types\.NodaTime\.dll</ModulePath>
                <ModulePath>.*HotChocolate\.Types\.OffsetPagination\.dll</ModulePath>
                <ModulePath>.*HotChocolate\.Types\.Spatial\.dll</ModulePath>
                <ModulePath>.*Humanizer\.Core\.dll</ModulePath>
                <ModulePath>.*JetBrains\.Annotations\.dll</ModulePath>
                <ModulePath>.*JetBrains\.dotCover\.CommandLineTools\.dll</ModulePath>
                <ModulePath>.*JetBrains\.ExternalAnnotations\.dll</ModulePath>
                <ModulePath>.*JetBrains\.ReSharper\.GlobalTools\.dll</ModulePath>
                <ModulePath>.*MediatR\.dll</ModulePath>
                <ModulePath>.*Microsoft\.AspNetCore\.Components\.Web\.dll</ModulePath>
                <ModulePath>.*Microsoft\.AspNetCore\.Components\.WebAssembly\.DevServer\.dll</ModulePath>
                <ModulePath>.*Microsoft\.AspNetCore\.Components\.WebAssembly\.dll</ModulePath>
                <ModulePath>.*Microsoft\.AspNetCore\.Mvc\.NewtonsoftJson\.dll</ModulePath>
                <ModulePath>.*Microsoft\.AspNetCore\.Mvc\.Testing\.dll</ModulePath>
                <ModulePath>.*Microsoft\.AspNetCore\.OpenApi\.dll</ModulePath>
                <ModulePath>.*Microsoft\.AspNetCore\.TestHost\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeAnalysis\.Analyzers\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeAnalysis\.BannedApiAnalyzers\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeAnalysis\.Common\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeAnalysis\.CSharp\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeAnalysis\.CSharp\.Workspaces\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeAnalysis\.Features\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeAnalysis\.Workspaces\.Common\.dll</ModulePath>
                <ModulePath>.*Microsoft\.CodeCoverage\.dll</ModulePath>
                <ModulePath>.*Microsoft\.EntityFrameworkCore\.dll</ModulePath>
                <ModulePath>.*Microsoft\.EntityFrameworkCore\.Sqlite\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.ApiDescription\.Client\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.Configuration\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.DependencyInjection\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.Diagnostics\.HealthChecks\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.Hosting\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.Http\.Resilience\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.Logging\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.Options\.ConfigurationExtensions\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.ServiceDiscovery\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Extensions\.TimeProvider\.Testing\.dll</ModulePath>
                <ModulePath>.*Microsoft\.NET\.Test\.Sdk\.dll</ModulePath>
                <ModulePath>.*Microsoft\.Reactive\.Testing\.dll</ModulePath>
                <ModulePath>.*Microsoft\.SourceLink\.GitHub\.dll</ModulePath>
                <ModulePath>.*NETStandard\.Library\.dll</ModulePath>
                <ModulePath>.*NetTopologySuite\.dll</ModulePath>
                <ModulePath>.*NetTopologySuite\.IO\.GeoJSON\.dll</ModulePath>
                <ModulePath>.*NetTopologySuite\.IO\.GeoJSON4STJ\.dll</ModulePath>
                <ModulePath>.*Newtonsoft\.Json\.dll</ModulePath>
                <ModulePath>.*NodaTime\.dll</ModulePath>
                <ModulePath>.*NodaTime\.Serialization\.JsonNet\.dll</ModulePath>
                <ModulePath>.*NodaTime\.Serialization\.SystemTextJson\.dll</ModulePath>
                <ModulePath>.*NodaTime\.Testing\.dll</ModulePath>
                <ModulePath>.*NSwag\.ApiDescription\.Client\.dll</ModulePath>
                <ModulePath>.*Nuke\.Common\.dll</ModulePath>
                <ModulePath>.*OpenTelemetry\.dll</ModulePath>
                <ModulePath>.*OpenTelemetry\.Extensions\.Hosting\.dll</ModulePath>
                <ModulePath>.*OpenTelemetry\.Instrumentation\.AspNetCore\.dll</ModulePath>
                <ModulePath>.*OpenTelemetry\.Instrumentation\.Http\.dll</ModulePath>
                <ModulePath>.*OpenTelemetry\.Instrumentation\.Process\.dll</ModulePath>
                <ModulePath>.*OpenTelemetry\.Instrumentation\.Runtime\.dll</ModulePath>
                <ModulePath>.*Polly\.dll</ModulePath>
                <ModulePath>.*Polyfill\.dll</ModulePath>
                <ModulePath>.*ReportGenerator\.dll</ModulePath>
                <ModulePath>.*Riok\.Mapperly\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Build\.Information\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.CommandLine\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Conventions\.Abstractions\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Conventions\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Conventions\.DryIoc\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Conventions\.Serilog\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.DependencyInjection\.Extensions\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Extensions\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Extensions\.Testing\.FakeItEasy\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Extensions\.Testing\.SourceGenerators\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Extensions\.Testing\.XUnit\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Hosting\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.MSBuild\.CI\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.MSBuild\.GitVersion\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.MSBuild\.SourceLink\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.Nuke\.dll</ModulePath>
                <ModulePath>.*Rocket\.Surgery\.WebAssembly\.Hosting\.dll</ModulePath>
                <ModulePath>.*Roslynator\.Analyzers\.dll</ModulePath>
                <ModulePath>.*Roslynator\.CodeAnalysis\.Analyzers\.dll</ModulePath>
                <ModulePath>.*Roslynator\.CodeFixes\.dll</ModulePath>
                <ModulePath>.*Roslynator\.Formatting\.Analyzers\.dll</ModulePath>
                <ModulePath>.*Roslynator\.Refactorings\.dll</ModulePath>
                <ModulePath>.*Serilog\.AspNetCore\.dll</ModulePath>
                <ModulePath>.*Serilog\.Enrichers\.AssemblyName\.dll</ModulePath>
                <ModulePath>.*Serilog\.Enrichers\.Demystifier\.dll</ModulePath>
                <ModulePath>.*Serilog\.Enrichers\.Environment\.dll</ModulePath>
                <ModulePath>.*Serilog\.Enrichers\.Process\.dll</ModulePath>
                <ModulePath>.*Serilog\.Enrichers\.Span\.dll</ModulePath>
                <ModulePath>.*Serilog\.Enrichers\.Thread\.dll</ModulePath>
                <ModulePath>.*Serilog\.Exceptions\.dll</ModulePath>
                <ModulePath>.*Serilog\.Extensions\.Hosting\.dll</ModulePath>
                <ModulePath>.*Serilog\.Extensions\.Logging\.dll</ModulePath>
                <ModulePath>.*Serilog\.Settings\.Configuration\.dll</ModulePath>
                <ModulePath>.*Serilog\.Sinks\.ApplicationInsights\.dll</ModulePath>
                <ModulePath>.*Serilog\.Sinks\.Async\.dll</ModulePath>
                <ModulePath>.*Serilog\.Sinks\.BrowserConsole\.dll</ModulePath>
                <ModulePath>.*Serilog\.Sinks\.Console\.dll</ModulePath>
                <ModulePath>.*Serilog\.Sinks\.Debug\.dll</ModulePath>
                <ModulePath>.*Serilog\.Sinks\.Observable\.dll</ModulePath>
                <ModulePath>.*Serilog\.Sinks\.OpenTelemetry\.dll</ModulePath>
                <ModulePath>.*Serilog\.Sinks\.Trace\.dll</ModulePath>
                <ModulePath>.*StrawberryShake\.Core\.dll</ModulePath>
                <ModulePath>.*StrawberryShake\.Server\.dll</ModulePath>
                <ModulePath>.*StrawberryShake\.Transport\.Http\.dll</ModulePath>
                <ModulePath>.*StronglyTypedId\.dll</ModulePath>
                <ModulePath>.*StronglyTypedId\.Templates\.dll</ModulePath>
                <ModulePath>.*Swashbuckle\.AspNetCore\.ReDoc\.dll</ModulePath>
                <ModulePath>.*Swashbuckle\.AspNetCore\.SwaggerUI\.dll</ModulePath>
                <ModulePath>.*System\.Collections\.Immutable\.dll</ModulePath>
                <ModulePath>.*System\.Interactive\.Async\.dll</ModulePath>
                <ModulePath>.*System\.Interactive\.dll</ModulePath>
                <ModulePath>.*System\.Net\.Http\.Json\.dll</ModulePath>
                <ModulePath>.*System\.Reactive\.dll</ModulePath>
                <ModulePath>.*System\.Reactive\.Observable\.Aliases\.dll</ModulePath>
                <ModulePath>.*System\.Text\.Json\.dll</ModulePath>
                <ModulePath>.*Verify\.DiffPlex\.dll</ModulePath>
                <ModulePath>.*Verify\.NewtonsoftJson\.dll</ModulePath>
                <ModulePath>.*Verify\.NodaTime\.dll</ModulePath>
                <ModulePath>.*Verify\.SourceGenerators\.dll</ModulePath>
                <ModulePath>.*Verify\.SystemJson\.dll</ModulePath>
                <ModulePath>.*Verify\.Xunit\.dll</ModulePath>
                <ModulePath>.*xunit\.analyzers\.dll</ModulePath>
                <ModulePath>.*Xunit\.Combinatorial\.dll</ModulePath>
                <ModulePath>.*xunit\.dll</ModulePath>
                <ModulePath>.*xunit\.runner\.visualstudio\.dll</ModulePath>
              </Exclude>
            </ModulePaths>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>