@page "/rockets"

<NavLink href="/rockets/create">Create</NavLink>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Serial Number</th>
        <th scope="col">Type</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var rocket in Rockets) {
        var link = "/rockets/" +rocket.Id;
        <tr>
            <th scope="row">
                <NavLink href=@link>@rocket.Sn</NavLink>
            </th>
            <td>@rocket.Type</td>
            <td></td>
        </tr>
    }
    </tbody>
</table>