@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul class="list-group">
  <li class="list-group-item"><a class="nav-link text-dark" asp-page="/Rockets/Index">Rockets</a></li>
  @* <li class="list-group-item"><a class="nav-link text-dark" asp-area="" asp-page="/Rockets">Rockets</a></li> *@
</ul>