@page "/"
@using MediatR
@inject IMediator mediator

<h1>Hello, world!</h1>

Welcome to your new app.

<EditForm Model="request" OnValidSubmit="async () => response = await mediator.Send(request)">
    <Rocket.Surgery.LaunchPad.AspNetCore.Blazor.FluentValidator />
    <ValidationSummary Model="request"/>

    <label>FirstName: <InputText @bind-Value="request.FirstName"/> <ValidationMessage For="() => request.FirstName"/></label>
    <label>LastName: <InputText @bind-Value="request.LastName"/> <ValidationMessage For="() => request.LastName"/> </label>

    <button type="submit">Save</button>
</EditForm>

<div>FullName: @response?.FullName</div>

@code {
    TestHandler.Request request = new();
    TestHandler.Response? response;
}
